<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>controls</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    {{> header}}
    <section id="update-section" class="form-section">
        
        <div class="form-div">
            <h1>update entry</h1>
          <form class="form-form" action="./control.html" method="post">
                <label>Appointment Id</label>
                <input type="text" name="Appointment Id"></input></td>

                <label>Problem</label>
                <input type="text" name="Problem"></input>

                <label>Parient Id</label>
                <input type="text" name="Parient Id"></input>

                <label>Doctor Name</label>
                <input type="text" name="Doctor Name"></input>

                <label>Doctor Id</label>
                <input type="number" name="Doctor Id"></input>

                <label>Doctor Type</label>
                <input type="text" name="Doctor Type"></input>

                <label>Qualification</label>
                <input type="text" name="Qualification"></input>

                <label>Doctor Fees</label>
                <input type="text" name="Doctor Fees"></input>

                <label>Payment Status</label>
                <input type="text" name="Payment Status"></input>

                <label>Appointment Status</label>
                <input type="text" name="Appointment Status"></input>
                
            <button type="submit" name="submit">submit</button>
        </form>
        <a href="appointment-table.html">View appointment list</a>
    </div>
        
        
    </section>
    
</body>
</html>