<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>e-HealthCare</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/8803407655.js" crossorigin="anonymous"></script>

</head>
<body>
    {{>header}}
    <section id="hero">
        <h4>Welcome page</h4>
        <a href="/appointment-table">appointment table</a>
        <div>
            <h2>Get complite information</h2>
            <h1>easy to use</h1>
            <p>Save more time</p>
            <button>stay connected</button>
        </div>
    </section>
    <section id="feature" class="section-p1">
        <div class="box">
            <img src="./img/1.jpg">
            <h4>Free Shipping</h4>

        </div>
        <div class="box">
            <img src="./img/2.jpg">
            <h4>Online Order</h4>

        </div>
        <div class="box">
            <img src="./img/3.jpg">
            <h4>Save Money</h4>

        </div>
        <div class="box">
            <img src="./img/4.jpg">
            <h4>Promotions</h4>

        </div>
        <div class="box">
            <img src="./img/5.jpg">
            <h4>Happy Sell</h4>

        </div>
        <div class="box">
            <img src="./img/6.jpg">
            <h4>f24/7 Support</h4>

        </div>
    </section>
    <section id="product" class="product-section">
        <a href="admin.html">Admin</a>
    
        <div class="pro-container">
            <div class="pro">
                <img src="./img/11.jpg">
                <div class="des">
                    <span>adidas</span>
                    <h5>chinees dress frock</h5>
                    <div class="star">
                        <i class="fa fa-solid fa-star"></i>
                        <i class="fa fa-solid fa-star"></i>
                        <i class="fa fa-solid fa-star"></i>
                        <i class="fa fa-solid fa-star"></i>
                        <i class="fa fa-solid fa-star"></i>
                    </div>
                    <h4>$344</h4>
                </div>
                <a href="#"><i class="fa fa-light fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="./img/12.jpg">
                <div class="des">
                    <span>adidas</span>
                    <h5>chinees dress frock</h5>
                    <div class="star">
                        <i class="fa fa-solid fa-star"></i>
                        <i class="fa fa-solid fa-star"></i>
                        <i class="fa fa-solid fa-star"></i>
                        <i class="fa fa-solid fa-star"></i>
                        <i class="fa fa-solid fa-star"></i>
                    </div>
                    <h4>$344</h4>
                </div>
                <a href="#"><i class="fa fa-light fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="./img/13.jpg">
                <div class="des">
                    <span>adidas</span>
                    <h5>chinees dress frock</h5>
                    <div class="star">
                        <i class="fa fa-solid fa-star"></i>
                        <i class="fa fa-solid fa-star"></i>
                        <i class="fa fa-solid fa-star"></i>
                        <i class="fa fa-solid fa-star"></i>
                        <i class="fa fa-solid fa-star"></i>
                    </div>
                    <h4>$344</h4>
                </div>
                <a href="#"><i class="fa fa-light fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="./img/14.jpg">
                <div class="des">
                    <span>adidas</span>
                    <h5>chinees dress frock</h5>
                    <div class="star">
                        <i class="fa fa-solid fa-star"></i>
                        <i class="fa fa-solid fa-star"></i>
                        <i class="fa fa-solid fa-star"></i>
                        <i class="fa fa-solid fa-star"></i>
                        <i class="fa fa-solid fa-star"></i>
                    </div>
                    <h4>$344</h4>
                </div>
                <a href="#"><i class="fa fa-light fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="./img/15.jpg">
                <div class="des">
                    <span>adidas</span>
                    <h5>chinees dress frock</h5>
                    <div class="star">
                        <i class="fa fa-solid fa-star"></i>
                        <i class="fa fa-solid fa-star"></i>
                        <i class="fa fa-solid fa-star"></i>
                        <i class="fa fa-solid fa-star"></i>
                        <i class="fa fa-solid fa-star"></i>
                    </div>
                    <h4>$344</h4>
                </div>
                <a href="#"><i class="fa fa-light fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="./img/16.jpg">
                <div class="des">
                    <span>adidas</span>
                    <h5>chinees dress frock</h5>
                    <div class="star">
                        <i class="fa fa-solid fa-star"></i>
                        <i class="fa fa-solid fa-star"></i>
                        <i class="fa fa-solid fa-star"></i>
                        <i class="fa fa-solid fa-star"></i>
                        <i class="fa fa-solid fa-star"></i>
                    </div>
                    <h4>$344</h4>
                </div>
                <a href="#"><i class="fa fa-light fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="./img/17.jpg">
                <div class="des">
                    <span>adidas</span>
                    <h5>chinees dress frock</h5>
                    <div class="star">
                        <i class="fa fa-solid fa-star"></i>
                        <i class="fa fa-solid fa-star"></i>
                        <i class="fa fa-solid fa-star"></i>
                        <i class="fa fa-solid fa-star"></i>
                        <i class="fa fa-solid fa-star"></i>
                    </div>
                    <h4>$344</h4>
                </div>
                <a href="#"><i class="fa fa-light fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="./img/18.jpg">
                <div class="des">
                    <span>adidas</span>
                    <h5>chinees dress frock</h5>
                    <div class="star">
                        <i class="fa fa-solid fa-star"></i>
                        <i class="fa fa-solid fa-star"></i>
                        <i class="fa fa-solid fa-star"></i>
                        <i class="fa fa-solid fa-star"></i>
                        <i class="fa fa-solid fa-star"></i>
                    </div>
                    <h4>$344</h4>
                </div>
                <a href="#"><i class="fa fa-light fa-shopping-cart cart"></i></a>
            </div>
        </div>

    </section>
    
</body>
</html>