<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>e-HealthCare</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/8803407655.js" crossorigin="anonymous"></script>

</head>
<body>
    {{>header homeActiveClass="active"}}
    <section id="hero">
        <h4>Welcome page</h4>
        <div>
            <h2>Get complite information</h2>
            <h1>easy to use</h1>
            <p>Save more time</p>
            <button>stay connected</button>
        </div>
    </section>
    
    
    
</body>
</html>